button:link, button:visited, button:hover, button:active {
    text-decoration: none;
}

button {
    background-color: white;
    opacity: 1;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0 2%;
}

